<div>
  <div style="width: 600px;margin:auto">
    <img style="width: 600px" src="https://st2.depositphotos.com/1967477/7371/v/600/depositphotos_73710337-stock-illustration-cartoon-collection-zoo-animals.jpg">
  </div>
  <h1 align="center">Welcome to the //Zoo!</h1>
</div>